.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .container form {
    width: 300px; /* Adjust as needed */
    margin-top: 20px;
  }
  
  .container input,
  .container button {
    margin-bottom: 10px;
  }
  
