@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@400;700&display=swap');

body {
  font-family: "Kantumruy Pro", sans-serif; /* Apply Kantumruy Pro font to the whole body */
  background-color: rgba(255, 209, 220, 0.3); /* Pastel pink opaque background */
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 600px; /* Reduced max-width */
  margin: 0 auto;
  padding: 15px; /* Reduced padding */
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px; /* Reduced margin */
}

.form-column {
  flex: 1;
  padding: 0 15px; /* Reduced padding */
  display: flex;
  flex-direction: column;
}

header {
  font-size: 1.3rem; /* Reduced font size */
  font-weight: bold;
  margin-bottom: 15px; /* Reduced margin */
  color: #333;
}

label {
  margin-bottom: 10px; /* Reduced margin */
  color: #555;
}

input[type="text"] {
  width: 100%;
  padding: 8px; /* Reduced padding */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 0.9rem; /* Reduced font size */
}

button {
  padding: 6px 12px; /* Reduced padding */
  margin-top: 15px; /* Reduced margin */
  margin-bottom: 10px;
  background-color: #ae00ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem; /* Reduced font size */
  max-width: 150px;
  margin :auto; 
}

button[type="submit"] {
  padding: 6px 12px; /* Reduced padding */
  margin: 15px auto 0; /* Reduced margin */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem; /* Reduced font size */
  width: auto;
  max-width: 100px;
}

.question-container {
  margin-top: 20px;
}

.question-header {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.question-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: #ccc;
}
