<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <!-- Link to your custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <div class="container">
        <!-- Greeting and User Info -->
        <div class="row">
            <div class="col-12 mb-5">
                {% for user in all_users %}
                {% if user.id == session['uuid'] %}
                <h2 class="text-center" style="color: #f8f9fa;">Welcome, {{ user.full_name }}</h2>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- Logout Link -->
        <div class="row">
            <div class="col-12 mb-4">
                <a href="/user/logout" class="btn btn-primary btn-block">Logout</a>
            </div>
        </div>

        <!-- Dashboard Links -->
        <div class="card form-card">
            <div class="card-header">
                Access Your Dashboard
            </div>
            <div class="card-body">
                <a href="/nominee/dashboard" class="btn btn-primary btn-block mb-3">Nominator Dashboard</a>
                <a href="/recommender/dashboard" class="btn btn-primary btn-block mb-3">Recommender Dashboard</a>
                <a href="/review/dashboard" class="btn btn-primary btn-block mb-3">Review Committee Dashboard</a>
            </div>
        </div>
    </div>
</body>
</html>
