<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Nominee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- linking a css style sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
          <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
              <strong>Nominee: {{ nominee.full_name }}</strong>
            </a>
          </div>
        </div>
      </header>

      <main role="main">

        <div class="album py-5 bg-light">
          <div class="container">
            <div class="album py-5 bg-light">
              <div class="container">

                    <div>
                        <h4>Nominee Information</h4>
                        <ul>
                            <li><strong>First Name:</strong> {{ nominee.first_name }}</li>
                            <li><strong>Last Name:</strong> {{ nominee.last_name }}</li>
                            <li><strong>Department Name:</strong> {{ nominee.department_name }}</li>
                            <li><strong>Job Category:</strong> {{ nominee.job_category }}</li>
                            <li><strong>Email:</strong> {{ nominee.email }}</li>
                            <li><strong>Nominator Qualifications and Attributes:</strong></li>
                            <p> {{ nominee.nominator_qualification }} </p>
                        </ul>
                        
                      <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nominee Name</th>
                                    <th>Nominator</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for nominee in all_nominees_nominator %}
                                {% if nominee.nominator.id %}
                                <tr>
                                    <td>{{ nominee.full_name}}</td>
                                    <td>{{ nominee.nominator.full_name }}</td>
                                    <td>
                                        <a href="/nominee/{{nominee.id}}/edit">Edit</a>
                                        <a class="text-danger" href="/nominee/{{nominee.id}}/delete">Delete</a>
                                        <a href="/nominee/{{nominee.id}}/info">View</a>
                                    </td>
                                </tr>
                                {% endif %} 
                            {% endfor %}
                            </tbody>
                    </div>
                    </div>
              </div>
            </div>

      </main>
</body>
</html>
